# 1.Overview of the data frame

In [1]:
##
import pandas

data = pandas.read_csv("reviews.csv")

# 2. Selecting data from the data frame

# Selecting a column

In [2]:
data.columns
data["Rating"]

0        4.0
1        4.0
2        4.0
3        5.0
4        4.5
        ...
44995    4.0
44996    5.0
44997    5.0
44998    5.0
44999    5.0
Name: Rating, Length: 45000, dtype: float64

# Selecting multiple columns

In [3]:
data[['Course Name', 'Rating']]

                                             Course Name  Rating
0      The Python Mega Course: Build 10 Real World Ap...     4.0
1      The Python Mega Course: Build 10 Real World Ap...     4.0
2      The Python Mega Course: Build 10 Real World Ap...     4.0
3      The Python Mega Course: Build 10 Real World Ap...     5.0
4      The Python Mega Course: Build 10 Real World Ap...     4.5
...                                                  ...     ...
44995                 Python for Beginners with Examples     4.0
44996  The Python Mega Course: Build 10 Real World Ap...     5.0
44997  The Python Mega Course: Build 10 Real World Ap...     5.0
44998                 Python for Beginners with Examples     5.0
44999  The Python Mega Course: Build 10 Real World Ap...     5.0

[45000 rows x 2 columns]

# Select a row

In [4]:
#.iloc[] used to select row
data.iloc[3]

Course Name    The Python Mega Course: Build 10 Real World Ap...
Timestamp                              2021-04-02 03:33:24+00:00
Rating                                                       5.0
Comment                                                      NaN
Name: 3, dtype: object

# Selecting multiple rows

In [5]:
#data.iloc[enter:slice] to pick data from one index to another
data.iloc[1:3] #this displays 1 and 2 index(s)  and [0,1,2,3,4.....]

,Course Name,Timestamp,Rating,Comment
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN

# Selecting a section

In [6]:
#add .iloc to data frame to select a section from the data frame(index 1 and 6)
data[['Course Name', 'Rating']].iloc[1:6]

                                         Course Name  Rating
1  The Python Mega Course: Build 10 Real World Ap...     4.0
2  The Python Mega Course: Build 10 Real World Ap...     4.0
3  The Python Mega Course: Build 10 Real World Ap...     5.0
4  The Python Mega Course: Build 10 Real World Ap...     4.5
5  The Python Mega Course: Build 10 Real World Ap...     4.5

# Selecting a cell

In [7]:
#use .iloc[]
data["Timestamp"].iloc[3]

#or

## ".at" can use this to acheive same result
data.at[3,'Timestamp']

'2021-04-02 03:33:24+00:00'

# 3. Filtering data based on conditions

In [8]:
data[data['Rating'] > 4]

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
...,...,...,...,...
44994,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:19:24+00:00,5.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [9]:
#using len() function displays 29,758 users that rated the program 4.5 or above
len(data[data['Rating'] >4])

29758

In [10]:
#use of the .count() method
data[data['Rating'] >4].count()

Course Name    29758
Timestamp      29758
Rating         29758
Comment         4927
dtype: int64

In [11]:


d2 = data[data['Rating'] >4]
d2['Rating'].mean()

4.87316015861281

# filtering databases using multiple conditions

In [14]:
data[(data['Rating'] >4 ) & (data['Course Name'] == 'The Complete Python Course: Build 10 Professional OOP Apps')]['Rating'].mean()

4.908831908831909